@import "styles/variables";

.chat-page {
  @include vertical-align;
  @include fill-screen;
  margin: 0;
}

.chat-wrapper {
    background-color: #fff;
    margin: 0;
    padding: 0 5px;
    min-height: 560px;
 //   border: 2px solid #ccc;
    border-radius: 8px;
    min-width: 300px;

    .col-md-10{
      padding-left: 0;
    }
    
}


.chat-box {
    min-height: 560px;
    position: relative;
    border-top: 1px solid #f5f5f5;
    padding: 8px 5px 0px 8px;

    @media(min-width: 768px) {
     // border-left: 2px solid #ccc;
      border-top: 0;
    }


}

// Chatbox.js
.message-list {

  overflow-y: scroll;
  height: 500px;

  .message {
    padding: 8px 0px 0px 5px;

    .message__meta {
        padding: 4px 0 4px 0px;
    }

    .message__user {
        font-weight: 600;
        color: $primary;
        padding-right: 10px;
    }

    .message__time {
        font-size: 12px;
        color: #ccc;
    }

    .message__text{
      padding-left: 8px;
    }
  }
}

.input-box {
  margin-bottom: 8px;
  position: absolute;
  bottom: 0;

  .input-group {
    padding: 0;
  }

  .form-control:focus {
    outline: none;
    border-color: $secondary;
    box-shadow: 0 0 0px $secondary;
  }

  .btn-send {
    margin: 0;
    padding: 6px 30px;
    outline: none !important;
    font-size: 16px;
    letter-spacing: 0;
    text-transform: initial;
    display: inline-block;
    font-size: 14px;
    border: 1px solid transparent;

  }

}


// UserList.js
.users-list {
    background: #f5f5f5;
    h3 {
      text-align: center;
      font-family: 'Raleway';
      font-size: 20px;
      width: 100%;
      margin-top: 7px;
    }
    ul {
      padding-left: 10px;

      li {
        list-style: none;
        padding: 5px 0;
      }

      .glyphicon {
        color: $primary;
      }

    }

}

