@import "styles/variables";

.create-page{
    @include vertical-align;
    @include fill-screen;

    h2 {
        font-family: 'Poppins', sans-serif;
    }

    p{
        margin-top: 20px;
    }

    .col-md-4{
        margin-top: -40px;
    }


}

