@import "styles/variables";


header {
  height: $header-height;
  background-color: #222;
  a {
    text-decoration: none !important;
  }
}

.navbar {
    background-color: rgba($bg-color, 0.9);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 0;
    border-radius: 0px;

    h1 {
        font-size: 60px;
        font-family: 'Lobster', cursive;
        padding: 0;
        margin: 0;
        color: $primary;
    }
}

.navbar-header {
    width: 100%;
    min-width: 320px;
}

.navbar-nav {
  li {
    padding: 25px 0;

    a {
      color: $bg-color-accent;
      text-transform: uppercase;
      font-size: 16px;
      transition: all 400ms ease-out;

      &:hover {
        color: $primary;
        background: none;
      }
      &:focus {
        color: $primary;
        background: none;
      }
      &:active {
        color: $primary;
        background: none;
      }
    }
  }

  .navbar-brand {
    height: $header-height;
  }
}