@import "styles/variables";



.form-group-lg{
    margin-bottom: 20px;
}

.join-page{
    height: 800px;
    @include vertical-align;

    h2{
        font-family: 'Poppins', sans-serif;
    }

    p{
        margin-top: 20px;
    }

}
