@import "styles/variables";



.main{

    margin: 0px;
    height: 1000px;
    background-image: url('https://images.unsplash.com/photo-1475332340095-a12d7b5a7fdc?dpr=1&auto=format&fit=crop&w=1500&h=NaN&q=80&cs=tinysrgb&crop=');

    background-attachment: scroll;
    background-size: cover;
   -moz-background-size: cover;
    margin-bottom: 30px;

    .jumbotron{
        background: none;
        margin:0;
        padding-bottom: 0;
        h2 {
            color: $secondary;
            font-size: 45px;
        }    
        p{
            color: white;
            margin: 0;
            font-size: 20px;
        }
    }

    .row{
         
         margin-top: 200px;

        .col-md-4 {
    
        }
    }



   
}

    .btn {
    //margin: 10px;
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    background: $secondary;

      &:hover {
        color: black;
        background-color:$secondary-pale;

      }
      &:focus {
        color: black;
        background-color: $secondary-dark;

      }
      &:active {
                color: black;
        background-color: $secondary-dark;

      }
    }





.panel{

    border-radius: 5px;
    border-width: 4px;
    background-color: #e6e6e6;

    .panel-body{
 
       padding-top: 40px;

       p{
            margin: 10px 0px 10px 0px;
            font-weight: 700;
        }

    }

    p{
        margin: 10px 0px 10px 15px;
        color: black;
        font-weight: 700;
    }

}




 

