@import "styles/variables";


$section-height: 500px;

.main-page {


    h2{
        text-align: center;
        font-size: 45px;
        font-family: 'Lobster', cursive;
        margin-bottom: 30px;
    }

    .login-section {
        background: url('~../images/bg1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 700px;
        height: calc(100vh - 100px);
        width: 100%;
        border-bottom: 3px solid $secondary;
        border-top: 3px solid $secondary;
        @include vertical-align;

        .login-box {
            padding: 30px 50px 50px 50px;
            border: 1px solid #ccc;
            max-width: 390px;
            margin: 0 auto;
            border-radius: 4px;
            min-width: 320px;
            box-shadow: #ddd 3px 3px 4px;

            border-color: #222;
            background: rgba(#000, 0.6);
            color: $off-white;
            box-shadow: 1px 2px 3px $bg-color;

            h3{
                margin: 0 0 10px 0;
                font-family: 'Lobster', cursive;
                font-size: 32px;
                text-align: center;
            }

            p{
                margin-top: 10px;
                margin-bottom: -10px;
                font-weight: bold;
            }

            .padding-v10 {
                font-weight: bold;
            }

            .panel{

                border-radius: 5px;
                border-width: 4px;
                background-color: #e6e6e6;

                .panel-body{

                    padding-top: 40px;

                    p{
                        margin: 10px 0px 10px 0px;
                        font-weight: 700;
                    }

                }

        p{
            margin: 10px 0px 10px 15px;
            color: black;
            font-weight: 700;
        }

    }


        }


    }

.about-section {
  background: #eee;
  padding: 20px 0 60px 0;

  .about-info {
    padding: 0 50px;
  }

  h3 {
      color: #f0ad4e;
      font-size: 24px;
      text-align: left;
      font-weight: 600;
      font-family: 'Poppins', sans-serif;
      letter-spacing: -1px;
  }

  p {
      margin: 0;
      font-size: 20px;
  }
}

  .contact-section {
    padding: 20px 0 60px 0;
    background: $primary;
    text-align: center;
    color: $bg-color;

    a {
        color: $bg-color;
        font-size: 21px;
        font-family: 'Raleway';
    }

    .centre-circle {
      text-align: center;
      i { font-size: 180px; }

      .circle{
          background-color: $off-white;
          width: 260px;
          height: 260px;
          margin: 0 auto;
          border-radius: 50%;
          @include vertical-align;

      }
    }

    .creater-info{
      margin-top: 12px;
    }
  }
}



