//This file contains all SASS variables that each style file may use

$bg-color: #333;
$bg-color-accent: #777777;
$primary: #66bb6a;
$secondary:#f0ad4e;
$secondary-2: #eea236;
$secondary-3: #cc7a00;
$off-white: #eee;

$header-height: 100px;
$footer-height: 50px;

@mixin vertical-align
{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin fill-screen
{
    min-height: 300px;
    height: calc(100vh - (#{$header-height} + #{$footer-height}));
}
