@import '../node_modules/sweetalert/dist/sweetalert.css';
@import "variables";


.padding-v10 {
    padding: 15px 0;
}

.form-group-lg{
    margin-bottom: 20px;
}

.speakup-title{
        font-family: 'Lobster', cursive;
        color: $primary;
          font-size: 24px;
}

.btn-speakup {

    padding: 14px 24px;
    border: 10px;
    font-weight: 700;
    font-size: 18px;
    
    letter-spacing: 1px;
    width: 100%;
    text-transform: uppercase;
    color: black;
    background: $secondary;
    border-color: $secondary-2;

    &:hover {
        color: black;
        background-color:$secondary-2;
    }

    &:focus {
        color: black;
        background-color: $secondary-3;
    }

    &:active {
        color: black;
        background-color: $secondary-3;
    }
}


.page-content {
    min-height: 400px;
   font-family: 'Open-Sans', sans-serif;
}