@import '../node_modules/sweetalert/dist/sweetalert.css';
@import "variables";


.padding-v10 {
    padding: 15px 0;
}

.form-group-lg{
    margin-bottom: 20px;
}

.speakup-title{
        font-family: 'Lobster', cursive;
        color: $primary;
          font-size: 24px;
}

.btn-speakup {

    padding: 14px 24px;
    border: 10px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    width: 100%;
    text-transform: uppercase;
    color: black;
    background: $secondary;
    border-color: $secondary-2;
    outline: 0 !important;
    transition: all 400ms ease-out;

    &:hover {
        color: black;
        background-color:$secondary-2;
    }

    &:focus {
        color: black;
        background-color: $secondary-3;
    }

    &:active {
        color: black;
        background-color: $secondary-3;
    }
}

a {
    color: $primary;
    &:hover, &:active {
        color: opacify($primary, 0.5);
    }
}

.sweet-alert {
    button.confirm {
        @extend .btn-speakup;
        background: $secondary !important;
    }
}


.page-content {
    font-family: 'Open-Sans', sans-serif;
}

.form-box {
    padding: 30px 50px 50px 50px;
    border: 1px solid #ccc;
    max-width: 390px;
    margin: 0 auto;
    border-radius: 4px;
    min-width: 320px;
    box-shadow: #ddd 3px 3px 4px;
}